<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANEV DAILY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy"
        content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;" />
    <style>
        body {
            color: white;
            /* background-color: #222a35; */
        }

        .tablesData {
            width: 80%;
            margin-left: 10%;
        }

        .tableChild {
            width: 80%;
            margin-left: 12%;
        }

        ol {
            list-style-type: none;
            counter-reset: elementcounter;
            padding-left: 0;

        }

        /* li {
            width: 50%;
        } */

        li::before {
            content: counter(elementcounter) ") ";
            counter-increment: elementcounter;
            /* font-weight: bold; */
            margin-right: 1%;
            height: 10px;
            width: 20px;
        }
    </style>
</head>

<body style="color: black;">

    <%- include('../pages/daily/header/judul-samping.ejs'); %>
        <%- include('../pages/daily/header/judul-utama.ejs', {date}); %>
            <%- include('../pages/daily/header/judul-samping.ejs'); %>

                <div style="width: 100%;text-align: center;margin-top: 4%;">
                    <img src="assets/logo/korlantas-kecil.png" style="width: 80px;height: 80px;" />
                </div>
                <div style="width: 100%;justify-items: center;flex: 1;justify-self: center;margin-top: 4%;">
                    <center>
                        <p style="width: 48%;text-align: center;font-weight: bold;border-bottom:1px solid black;">
                            LAPORAN
                            ANALISA DAN
                            EVALUASI <br>
                            OPERASI PURI AGUNG-2022 PAMWAL KTT G20 BALI</p>
                    </center>
                </div>
                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">I.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">Pendahuluan</p>
                        </td>
                    </tr>

                </table>
                <table class="tableChild">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>1.</p>
                            </div>

                        </td>
                        <td>
                            <p>Umum</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Pemerintah Indonesia sebagai penyelenggara Konferensi Tingkat Tinggi (KTT)
                                            Presidensi G20 Tahun 2022 Bali, adalah sebagai tongkat estafet Presidensi
                                            G-20 yang diserahkan secara resmi oleh Perdana Menteri Italia kepada
                                            Presiden Joko Widodo pada tanggal 30 s.d. 31 Oktober 2021, di Roma. Momentum
                                            itu merupakan kali pertama Indonesia menjadi Presidensi G-20, sejak forum
                                            ini dibentuk pada tahun 1999 yang lalu, sehingga menjadi perhatian penting
                                            untuk menunjukkan kepemimpinan Indonesia dalam menjadikan Indonesia sebagai
                                            role model pemulihan ekonomi pasca pandemic Covid-19;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Indonesia yang ditunjuk sebagai tuan rumah pelaksanaan rangkaian kegiatan
                                            Presidensi G-20 dan KTT sebagai puncak pertemuan yang dilaksanakan di
                                            Provinsi Bali adalah rapat tingkat Kepala Negara/Pemerintahan yang diawali
                                            dengan beberapa kegiatan, baik itu forum antar Kepala Negara, forum antar
                                            Gubernur Bank Central, forum antar Menteri maupun forum antar delegasi
                                            lainnya. Adapun tema Presidensi G-20 Tahun 2022 yaitu “Recover Together,
                                            Recover Stronger” Indonesia ingin mengajak seluruh dunia untuk bahu-membahu,
                                            saling mendukung untuk pulih Bersama serta tumbuh lebih kuat dan
                                            berkelanjutan;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Presidensi G-20 Tahun 2022 meliputi persiapan dan penyelenggaraan rangkaian
                                            pertemuan Presidensi G-20 yang terdiri atas:

                                        </p>
                                        <ol>
                                            <li>Pertemuan Konferensi Tingkat Tinggi;
                                            </li>
                                            <li>Pertemuan tingkat Menteri dan Gubernur Bank Sentral;</li>
                                            <li>Pertemuan tingkat Sherpe;</li>
                                            <li>Pertemuan tingkat deputi;</li>
                                            <li>Pertemuan tingkat Working Group;</li>
                                            <li>Pertemuan tingkat Engagement Group;</li>
                                            <li>Program Side Events;</li>
                                            <li>Program Road to G-20 Indonesia 2022;</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun negara anggota G-20 terdiri dari AS, Kanada, Meksiko, Argentina,
                                            Brasil, Inggris, Jerman, Italia, Prancis, Rusia, Afrika Selatan, Arab Saudi,
                                            Turki, China, Jepang, Korea Selatan, India, Indonesia, Australia, dan Uni
                                            Eropa. Peserta KTT G-20 Lainnya terdiri dari 9 undangan Kepala Negara lain
                                            dan 10 pimpinan organisasi internasional

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peserta VVIP G20 yang hadir terdiri dari Kepala Negara peserta G-20 sebanyak
                                            21 orang, kepala negara tamu undangan G-20 sebanyak 9 orang, kepala
                                            organisasi internasional G-20 sebanyak 10 negara, peserta VIP G-20 yang
                                            hadir sebanyak 123 orang dari negara peserta G-20, negara undangan dan
                                            organisasi internasional, serta delegasi lainnya yang diperkirakan sebanyak
                                            7.000 orang.

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            f.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun jenis pertemuan dalam forum Presidensi G-20, yaitu:

                                        </p>
                                        <table>
                                            <tr>
                                                <td style="vertical-align: text-top;width: 25px;">1)</td>
                                                <td>KTT merupakan acara puncak dari proses pertemuan G-20, yaitu rapat
                                                    tingkat kepala negara/pemerintahan;</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">2)</td>
                                                <td>Ministeral and Deputies Meetings atau pertemuan Tingkat Menteri dan
                                                    Deputi, diadakan di masing-masing area focus utama forum pada
                                                    finance
                                                    track, ministerial Meeting dihadiri oleh Menteri Keuangan dan
                                                    Gubernur
                                                    Bank Sentral, yang disebut Finance Minister and Bank Governors
                                                    Meeting
                                                    (FMCBG), Sementara pertemuan para Deputi disebut Finance and Central
                                                    Bank Deputies Meetings (FCBD);</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">3)</td>
                                                <td>Kelompok Kerja atau Working Group beranggotakan para ahli dari
                                                    negara
                                                    G-20 yang menangani isu-isu spesifik yang terkait dengan agenda G-20
                                                    yang lebih luas, kemudian dimasukkan dalam segmen kementerian dan
                                                    akhirnya KTT.</td>
                                            </tr>
                                        </table>
                                        <!-- <ol>
                                            <li>KTT merupakan acara puncak dari proses pertemuan G-20, yaitu rapat
                                                tingkat kepala negara/pemerintahan;
                                            </li>
                                            <li>Ministeral and Deputies Meetings atau pertemuan Tingkat Menteri dan
                                                Deputi, diadakan di masing-masing area focus utama forum pada finance
                                                track, ministerial Meeting dihadiri oleh Menteri Keuangan dan Gubernur
                                                Bank Sentral, yang disebut Finance Minister and Bank Governors Meeting
                                                (FMCBG), Sementara pertemuan para Deputi disebut Finance and Central
                                                Bank Deputies Meetings (FCBD);</li>
                                            <li>Kelompok Kerja atau Working Group beranggotakan para ahli dari negara
                                                G-20 yang menangani isu-isu spesifik yang terkait dengan agenda G-20
                                                yang lebih luas, kemudian dimasukkan dalam segmen kementerian dan
                                                akhirnya KTT.</li>

                                        </ol> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            g.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Hal terpenting dalam penyelenggaraan KTT G-20 Tahun 2022 adalah jaminan
                                            keamanan masing-masing delegasi selama berada di Bali untuk itu diperlukan
                                            persiapan maksimal agar penyelanggaraan KTT G-20 Tahun 2022 yang akan
                                            dilaksanakan pada tanggal 15 s.d. 16 November 2022 dapat berjalan aman,
                                            lancer dan situasi kondusif serta menjaga reputasi Indonesia sebagai negara
                                            yang sukses menyelanggarakan event internasional;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            h.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Polri sebagai alat negara yang bertugas memelihara keamanan dan ketertiban
                                            masayarakat, menegakkan hukum, memberikan perlindungan, pengayoman dan
                                            pelayanan kepada masyarakat, dituntut untuk mampu mengantisipasi dan
                                            menanggulangi berbagai bentuk ancaman gangguan Kamtibmas;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            i.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Dalam rangka mendukung kegiatan KTT G-20 Tahun 2022 dilaksanakan pengamanan
                                            dan pengawalan bidang lalu lintas dan dalam pelaksanaannya didukung dengan
                                            Poska yang dilengkapi system aplikasi K3i Korlantas Polri yang dipergunakan
                                            untuk melakukan pengawasan dan pengendalian anggota yang melaksanakan tugas
                                            Pamwalrolakir rangkaian kegiatan KTT G-20 di Bali, agar terwujud
                                            Kamseltibcar Lantas.
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>2.</p>
                            </div>

                        </td>
                        <td>
                            <p>Dasar</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Undang-undang No. 2 Tahun 2002 tentang Kepolisian Negara Republik Indonesia;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Undang-Undang Nomor 22 Tahun 2009 tentang Lalu Lintas dan Angkutan Jalan;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peraturan Kapolri Nomor 8 Tahun 2021 tentang perubahan atas Peraturan
                                            Kapolri Nomor 1 Tahun 2019 tentang Sistem, Manajemen dan Standar
                                            Keberhasilan Operasional Kepolisian Negara Republik Indonesia;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Rencana Operasi Nomor : R/Renops/1910/X/OPS.1.1./2022 tanggal 22 September
                                            2022 tentang Pengamanan Konferensi Tingkat Tinggi (KTT) G20 Tahun 2022;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Surat Telegram Kapolri Nomor : STR/777/X/OPS.1.3./2022 tanggal 18 Oktober
                                            2022 tentang petunjuk dan arahan pelaksanaan KTT G20 Bali tahun 2022;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            f.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Surat Telegram Kapolri Nomor : STR/788/X/OPS.1.3./2022 tanggal 24 Oktober
                                            2022 tentang pelaksanaan kegiatan Pamwalrolakir KTT G20 Bali di dukung
                                            dengan system aplikasi K3i Korlantas Polri TA. 2022;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            g.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Hal terpenting dalam penyelenggaraan KTT G-20 Tahun 2022 adalah jaminan
                                            keamanan masing-masing delegasi selama berada di Bali untuk itu diperlukan
                                            persiapan maksimal agar penyelanggaraan KTT G-20 Tahun 2022 yang akan
                                            dilaksanakan pada tanggal 15 s.d. 16 November 2022 dapat berjalan aman,
                                            lancer dan situasi kondusif serta menjaga reputasi Indonesia sebagai negara
                                            yang sukses menyelanggarakan event internasional;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            h.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Polri sebagai alat negara yang bertugas memelihara keamanan dan ketertiban
                                            masayarakat, menegakkan hukum, memberikan perlindungan, pengayoman dan
                                            pelayanan kepada masyarakat, dituntut untuk mampu mengantisipasi dan
                                            menanggulangi berbagai bentuk ancaman gangguan Kamtibmas;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            i.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Dalam rangka mendukung kegiatan KTT G-20 Tahun 2022 dilaksanakan pengamanan
                                            dan pengawalan bidang lalu lintas dan dalam pelaksanaannya didukung dengan
                                            Poska yang dilengkapi system aplikasi K3i Korlantas Polri yang dipergunakan
                                            untuk melakukan pengawasan dan pengendalian anggota yang melaksanakan tugas
                                            Pamwalrolakir rangkaian kegiatan KTT G-20 di Bali, agar terwujud
                                            Kamseltibcar Lantas.
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>




                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>3.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Maksud dan tujuan</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Maksud
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">

                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Laporan Anev Operasi Puri Agung 2022 Pengamanan KTT G20 dimaksudkan sebagai
                                            gambaran tentang hasil pelaksanaan Operasi yang dilaksanakan di Bali oleh
                                            BKO Korlantas Polri yang dilaksanakan selama 20 (dua puluh) hari, mulai
                                            tanggal 1 s/d 20 November 2022.

                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Tujuan
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">

                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Bertujuan sebagai bahan masukan kepada pimpinan tentang hasil Anev Operasi
                                            Puri Agung 2022 pengamanan KTT G20 Bali dalam rangka menciptakan
                                            kamseltibcar lantas yang kondusif, aman dan lancar mulai perencanaan,
                                            persiapan, pelaksanaan sampai dengan akhir guna menentukan kebijaksanaan
                                            tugas operasi lebih lanjut.

                                        </p>
                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>


                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>4.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Ruang Lingkup</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <p style="text-align: justify;">Ruang lingkup laporan Anev Operasi Puri Agung 2022
                                pengamanan KTT G20 dalam rangka
                                mewujudkan kondisi kamseltibcar lantas yang kondusif, aman dan lancar mulai perencanaan
                                sd selesai kegiatan meliputi pelaksanaan, hasil yang dicapai, analisa dan evaluasi,
                                hambatan / kendala serta kesimpulan dan saran.</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p>5.</p>
                            </div>

                        </td>
                        <td>
                            <p style="text-align: justify;">Tata Urut</p>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            I.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PENDAHULUAN
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            II.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PELAKSANAAN
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            III.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            ANALISA DAN EVALUASI

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            IV.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            HAMBATAN
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            V.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            KESIMPULAN DAN SARAN

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            VI.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            PENUTUP

                                        </p>

                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>
                </table>


                <table class="tablesData">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <p style="font-weight: bold;">II.</p>
                            </div>

                        </td>
                        <td>
                            <p style="font-weight: bold;text-transform: uppercase;">PELAKSANAAN</p>
                        </td>
                    </tr>
                </table>





                <table class="tableChild">
                    <tr>
                        <td style="width: 30px;">
                            <div>
                                <b>a.</b>
                            </div>

                        </td>
                        <td>
                            <b>Penyuluhan Lalu Lintas</b>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 30px;">

                        </td>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            a.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Pemerintah Indonesia sebagai penyelenggara Konferensi Tingkat Tinggi (KTT)
                                            Presidensi G20 Tahun 2022 Bali, adalah sebagai tongkat estafet Presidensi
                                            G-20 yang diserahkan secara resmi oleh Perdana Menteri Italia kepada
                                            Presiden Joko Widodo pada tanggal 30 s.d. 31 Oktober 2021, di Roma. Momentum
                                            itu merupakan kali pertama Indonesia menjadi Presidensi G-20, sejak forum
                                            ini dibentuk pada tahun 1999 yang lalu, sehingga menjadi perhatian penting
                                            untuk menunjukkan kepemimpinan Indonesia dalam menjadikan Indonesia sebagai
                                            role model pemulihan ekonomi pasca pandemic Covid-19;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            b.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Indonesia yang ditunjuk sebagai tuan rumah pelaksanaan rangkaian kegiatan
                                            Presidensi G-20 dan KTT sebagai puncak pertemuan yang dilaksanakan di
                                            Provinsi Bali adalah rapat tingkat Kepala Negara/Pemerintahan yang diawali
                                            dengan beberapa kegiatan, baik itu forum antar Kepala Negara, forum antar
                                            Gubernur Bank Central, forum antar Menteri maupun forum antar delegasi
                                            lainnya. Adapun tema Presidensi G-20 Tahun 2022 yaitu “Recover Together,
                                            Recover Stronger” Indonesia ingin mengajak seluruh dunia untuk bahu-membahu,
                                            saling mendukung untuk pulih Bersama serta tumbuh lebih kuat dan
                                            berkelanjutan;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            c.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Presidensi G-20 Tahun 2022 meliputi persiapan dan penyelenggaraan rangkaian
                                            pertemuan Presidensi G-20 yang terdiri atas:

                                        </p>
                                        <ol>
                                            <li>Pertemuan Konferensi Tingkat Tinggi;
                                            </li>
                                            <li>Pertemuan tingkat Menteri dan Gubernur Bank Sentral;</li>
                                            <li>Pertemuan tingkat Sherpe;</li>
                                            <li>Pertemuan tingkat deputi;</li>
                                            <li>Pertemuan tingkat Working Group;</li>
                                            <li>Pertemuan tingkat Engagement Group;</li>
                                            <li>Program Side Events;</li>
                                            <li>Program Road to G-20 Indonesia 2022;</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            d.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun negara anggota G-20 terdiri dari AS, Kanada, Meksiko, Argentina,
                                            Brasil, Inggris, Jerman, Italia, Prancis, Rusia, Afrika Selatan, Arab Saudi,
                                            Turki, China, Jepang, Korea Selatan, India, Indonesia, Australia, dan Uni
                                            Eropa. Peserta KTT G-20 Lainnya terdiri dari 9 undangan Kepala Negara lain
                                            dan 10 pimpinan organisasi internasional

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            e.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Peserta VVIP G20 yang hadir terdiri dari Kepala Negara peserta G-20 sebanyak
                                            21 orang, kepala negara tamu undangan G-20 sebanyak 9 orang, kepala
                                            organisasi internasional G-20 sebanyak 10 negara, peserta VIP G-20 yang
                                            hadir sebanyak 123 orang dari negara peserta G-20, negara undangan dan
                                            organisasi internasional, serta delegasi lainnya yang diperkirakan sebanyak
                                            7.000 orang.

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            f.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Adapun jenis pertemuan dalam forum Presidensi G-20, yaitu:

                                        </p>
                                        <table>
                                            <tr>
                                                <td style="vertical-align: text-top;width: 25px;">1)</td>
                                                <td>KTT merupakan acara puncak dari proses pertemuan G-20, yaitu rapat
                                                    tingkat kepala negara/pemerintahan;</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">2)</td>
                                                <td>Ministeral and Deputies Meetings atau pertemuan Tingkat Menteri dan
                                                    Deputi, diadakan di masing-masing area focus utama forum pada
                                                    finance
                                                    track, ministerial Meeting dihadiri oleh Menteri Keuangan dan
                                                    Gubernur
                                                    Bank Sentral, yang disebut Finance Minister and Bank Governors
                                                    Meeting
                                                    (FMCBG), Sementara pertemuan para Deputi disebut Finance and Central
                                                    Bank Deputies Meetings (FCBD);</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: text-top;">3)</td>
                                                <td>Kelompok Kerja atau Working Group beranggotakan para ahli dari
                                                    negara
                                                    G-20 yang menangani isu-isu spesifik yang terkait dengan agenda G-20
                                                    yang lebih luas, kemudian dimasukkan dalam segmen kementerian dan
                                                    akhirnya KTT.</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            g.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Hal terpenting dalam penyelenggaraan KTT G-20 Tahun 2022 adalah jaminan
                                            keamanan masing-masing delegasi selama berada di Bali untuk itu diperlukan
                                            persiapan maksimal agar penyelanggaraan KTT G-20 Tahun 2022 yang akan
                                            dilaksanakan pada tanggal 15 s.d. 16 November 2022 dapat berjalan aman,
                                            lancer dan situasi kondusif serta menjaga reputasi Indonesia sebagai negara
                                            yang sukses menyelanggarakan event internasional;

                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            h.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Polri sebagai alat negara yang bertugas memelihara keamanan dan ketertiban
                                            masayarakat, menegakkan hukum, memberikan perlindungan, pengayoman dan
                                            pelayanan kepada masyarakat, dituntut untuk mampu mengantisipasi dan
                                            menanggulangi berbagai bentuk ancaman gangguan Kamtibmas;
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;vertical-align: text-top;">
                                        <p>
                                            i.
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: justify;">
                                            Dalam rangka mendukung kegiatan KTT G-20 Tahun 2022 dilaksanakan pengamanan
                                            dan pengawalan bidang lalu lintas dan dalam pelaksanaannya didukung dengan
                                            Poska yang dilengkapi system aplikasi K3i Korlantas Polri yang dipergunakan
                                            untuk melakukan pengawasan dan pengendalian anggota yang melaksanakan tugas
                                            Pamwalrolakir rangkaian kegiatan KTT G-20 di Bali, agar terwujud
                                            Kamseltibcar Lantas.
                                        </p>

                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>


                </table>

</body>

</html>