<img
  src="/assets/anev/logo-pusit.png"
  height="110px"
  style="position: absolute; top: 1000; right: 10px"
/>
<table style="width: 100%; background-color: rgb(38, 36, 36)">
  <tr>
    <td style="padding-left: 16px">
      <span style="font-size: <%=titleFontSize%>pt">
        <%=title%> <%=filter.monthName.toUpperCase()%> <%=filter.year%>
      </span>
    </td>
  </tr>
</table>
