<div style="color: black;margin-top: 10%;">
    <div style="width: 100%;text-align: center;">
        <img src="assets/logo/korlantas-besar.png" style="height: 150px;width: 150px;margin-top: 5%;" />
    </div>
    <div style="width: 100%;text-align: center;margin-top: 3%;">
        <p style="font-weight: bold;font-size: 20px;">LAPORAN ANALISA DAN EVALUASI <br>
            OPERASI PURI AGUNG-2022 <br>
            PENGAMANAN KONFERENSI TINGKAT TINGGI (KTT) G20 <br>
            TAHUN 2022</p>
    </div>

    <div style="width: 100%;text-align: center;">
        <img src="assets/logo/gambar-garis.png" style="height: 500px;" />
    </div>
    <div style="width: 100%;text-align: center;margin-top: 20px;">
        <p style="font-weight: bold;">Jakarta, <%=date%>
        </p>
    </div>
</div>