<div style="background-color: #222a35; height: 100vh; position: relative">
  <%-include('../../../anev/partials/header-monthly.ejs',{filter,title:"GRAFIK DATA DAKGAR NASIONAL ",titleFontSize:28});%>
  <div
    style="
      padding-top: 50px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 32px;
    "
  >
    <h4 style="background-color: grey;color:black;padding: 10px;font-weight: bold;width:fit-content;border-radius:5px;">GRAFIK DAKGAR E-TILANG NASIONAL</h4>
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <div style="width: 750px" id="grafik-dakgar"></div>
          </td>
          <td>
            <div>
              <p
                style="
                  text-align: justify;
                  border: 2px solid white;
                  padding: 5px;
                  font-size: 16pt;
                  margin-left: 10px;
                  border-radius: 5px;
                "
              >
                <%-data.page4.analisis%>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    Highcharts.chart("grafik-dakgar", {
      chart: {
        type: "column",
        options3d: {
          enabled: true,
          alpha: 5,
          beta: 5,
          depth: 20,
          viewDistance: 25,
        },
      },
      title: {
        text: "DATA DAKGAR BY IRSMS",
      },
      subtitle: {
        text: "",
      },
      xAxis: {
        categories: <%-JSON.stringify(data.page4.grafik_dakgar.categories)%>,
        crosshair: true,
      },
      yAxis: {
        title: {
          useHTML: true,
          text: "",
        },
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat:
          '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: "</table>",
        shared: true,
        useHTML: true,
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0,
          dataLabels: {
            enabled: true,
          },
        },
      },
      exporting: {
        enabled: false,
      },
      credits: {
        enabled: false,
      },
      series: <%-JSON.stringify(data.page4.grafik_dakgar.series)%>,
    });
  });
</script>
