<div>
  <center>
    <img
      src="/assets/anev/monthly/page-0001.png"
      style="width: 100vw; height: 100vh; object-fit: contain"
    />
    <b style="position: absolute; font-size: 32pt; top: 400px; right: 200px"
      ><%=data.page1.title.toUpperCase()%></b
    >
  </center>
</div>
