<div>
  <center>
    <img
      src="/assets/anev/daily/page-0001.jpg"
      style="width: 100vw; height: 100vh; object-fit: contain"
    />
    <b
      style="
        position: absolute;
        font-size: 20pt;
        top: 480px;
        left: 60px;
        color: darkred;
      "
      ><%=data.page1.title.toUpperCase()%></b
    >
  </center>
</div>
